li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 180px;
    width: 145px;
}

svg {
    height: 24px;
    width: 24px;
    stroke: darkred;
}

.filled {
    fill: red;
}

.outlined {
    fill: none;
}
